<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cities</key>
	<array>
		<dict>
			<key>lat</key>
			<string>55.45</string>
			<key>lng</key>
			<string>37.37</string>
			<key>name</key>
			<string>Москва</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>59.56</string>
			<key>lng</key>
			<string>30.19</string>
			<key>name</key>
			<string>Санкт-Петербург</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.1</string>
			<key>lng</key>
			<string>82.56</string>
			<key>name</key>
			<string>Новосибирск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.19</string>
			<key>lng</key>
			<string>44.0</string>
			<key>name</key>
			<string>Нижний Новгород</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.51</string>
			<key>lng</key>
			<string>60.36</string>
			<key>name</key>
			<string>Екатеринбург</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.14</string>
			<key>lng</key>
			<string>50.10</string>
			<key>name</key>
			<string>Самара</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.59</string>
			<key>lng</key>
			<string>73.22</string>
			<key>name</key>
			<string>Омск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.47</string>
			<key>lng</key>
			<string>49.10</string>
			<key>name</key>
			<string>Казань</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.9</string>
			<key>lng</key>
			<string>61.26</string>
			<key>name</key>
			<string>Челябинск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>47.14</string>
			<key>lng</key>
			<string>39.42</string>
			<key>name</key>
			<string>Ростов-на-Дону</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.49</string>
			<key>lng</key>
			<string>56.4</string>
			<key>name</key>
			<string>Уфа</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>48.43</string>
			<key>lng</key>
			<string>44.29</string>
			<key>name</key>
			<string>Волгоград</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>58.0</string>
			<key>lng</key>
			<string>56.14</string>
			<key>name</key>
			<string>Пермь</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.1</string>
			<key>lng</key>
			<string>93.4</string>
			<key>name</key>
			<string>Красноярск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.33</string>
			<key>lng</key>
			<string>46.0</string>
			<key>name</key>
			<string>Саратов</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.43</string>
			<key>lng</key>
			<string>39.16</string>
			<key>name</key>
			<string>Воронеж</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.29</string>
			<key>lng</key>
			<string>49.31</string>
			<key>name</key>
			<string>Тольятти</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>45.2</string>
			<key>lng</key>
			<string>38.58</string>
			<key>name</key>
			<string>Краснодар</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.19</string>
			<key>lng</key>
			<string>48.22</string>
			<key>name</key>
			<string>Ульяновск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.50</string>
			<key>lng</key>
			<string>53.11</string>
			<key>name</key>
			<string>Ижевск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>57.37</string>
			<key>lng</key>
			<string>39.51</string>
			<key>name</key>
			<string>Ярославль</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.21</string>
			<key>lng</key>
			<string>83.45</string>
			<key>name</key>
			<string>Барнаул</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>52.20</string>
			<key>lng</key>
			<string>104.14</string>
			<key>name</key>
			<string>Иркутск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>43.8</string>
			<key>lng</key>
			<string>131.54</string>
			<key>name</key>
			<string>Владивосток</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>48.25</string>
			<key>lng</key>
			<string>135.7</string>
			<key>name</key>
			<string>Хабаровск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.45</string>
			<key>lng</key>
			<string>87.7</string>
			<key>name</key>
			<string>Новокузнецк</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.47</string>
			<key>lng</key>
			<string>55.6</string>
			<key>name</key>
			<string>Оренбург</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.36</string>
			<key>lng</key>
			<string>39.42</string>
			<key>name</key>
			<string>Рязань</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.12</string>
			<key>lng</key>
			<string>45.0</string>
			<key>name</key>
			<string>Пенза</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>57.10</string>
			<key>lng</key>
			<string>65.30</string>
			<key>name</key>
			<string>Тюмень</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.41</string>
			<key>lng</key>
			<string>52.19</string>
			<key>name</key>
			<string>Набережные Челны</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>46.22</string>
			<key>lng</key>
			<string>48.5</string>
			<key>name</key>
			<string>Астрахань</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>52.37</string>
			<key>lng</key>
			<string>39.37</string>
			<key>name</key>
			<string>Липецк</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.29</string>
			<key>lng</key>
			<string>84.59</string>
			<key>name</key>
			<string>Томск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.25</string>
			<key>lng</key>
			<string>86.5</string>
			<key>name</key>
			<string>Кемерово</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.13</string>
			<key>lng</key>
			<string>37.36</string>
			<key>name</key>
			<string>Тула</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>42.59</string>
			<key>lng</key>
			<string>47.31</string>
			<key>name</key>
			<string>Махачкала</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>58.36</string>
			<key>lng</key>
			<string>49.39</string>
			<key>name</key>
			<string>Киров</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.8</string>
			<key>lng</key>
			<string>47.14</string>
			<key>name</key>
			<string>Чебоксары</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>57.1</string>
			<key>lng</key>
			<string>40.59</string>
			<key>name</key>
			<string>Иваново</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.16</string>
			<key>lng</key>
			<string>34.25</string>
			<key>name</key>
			<string>Брянск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.43</string>
			<key>lng</key>
			<string>20.31</string>
			<key>name</key>
			<string>Калининград</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.25</string>
			<key>lng</key>
			<string>58.58</string>
			<key>name</key>
			<string>Магнитогорск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.44</string>
			<key>lng</key>
			<string>36.11</string>
			<key>name</key>
			<string>Курск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.52</string>
			<key>lng</key>
			<string>35.55</string>
			<key>name</key>
			<string>Тверь</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>57.56</string>
			<key>lng</key>
			<string>60.1</string>
			<key>name</key>
			<string>Нижний Тагил</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.50</string>
			<key>lng</key>
			<string>107.36</string>
			<key>name</key>
			<string>Улан-Удэ</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>64.32</string>
			<key>lng</key>
			<string>40.32</string>
			<key>name</key>
			<string>Архангельск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>45.3</string>
			<key>lng</key>
			<string>41.58</string>
			<key>name</key>
			<string>Ставрополь</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.26</string>
			<key>lng</key>
			<string>65.19</string>
			<key>name</key>
			<string>Курган</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>50.37</string>
			<key>lng</key>
			<string>36.35</string>
			<key>name</key>
			<string>Белгород</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>68.58</string>
			<key>lng</key>
			<string>33.5</string>
			<key>name</key>
			<string>Мурманск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.32</string>
			<key>lng</key>
			<string>36.17</string>
			<key>name</key>
			<string>Калуга</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>52.58</string>
			<key>lng</key>
			<string>36.4</string>
			<key>name</key>
			<string>Орел</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>43.35</string>
			<key>lng</key>
			<string>39.44</string>
			<key>name</key>
			<string>Сочи</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.47</string>
			<key>lng</key>
			<string>32.3</string>
			<key>name</key>
			<string>Смоленск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>52.3</string>
			<key>lng</key>
			<string>113.28</string>
			<key>name</key>
			<string>Чита</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.9</string>
			<key>lng</key>
			<string>40.25</string>
			<key>name</key>
			<string>Владимир</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>43.2</string>
			<key>lng</key>
			<string>44.40</string>
			<key>name</key>
			<string>Владикавказ</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>59.8</string>
			<key>lng</key>
			<string>37.55</string>
			<key>name</key>
			<string>Череповец</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>48.49</string>
			<key>lng</key>
			<string>44.44</string>
			<key>name</key>
			<string>Волжский</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.11</string>
			<key>lng</key>
			<string>45.10</string>
			<key>name</key>
			<string>Саранск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>52.43</string>
			<key>lng</key>
			<string>41.25</string>
			<key>name</key>
			<string>Тамбов</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>59.14</string>
			<key>lng</key>
			<string>39.54</string>
			<key>name</key>
			<string>Вологда</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>61.15</string>
			<key>lng</key>
			<string>73.23</string>
			<key>name</key>
			<string>Сургут</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>47.14</string>
			<key>lng</key>
			<string>38.54</string>
			<key>name</key>
			<string>Таганрог</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>50.34</string>
			<key>lng</key>
			<string>137.0</string>
			<key>name</key>
			<string>Комсомольск-на-Амуре</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>57.46</string>
			<key>lng</key>
			<string>40.56</string>
			<key>name</key>
			<string>Кострома</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>43.29</string>
			<key>lng</key>
			<string>43.37</string>
			<key>name</key>
			<string>Нальчик</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>61.47</string>
			<key>lng</key>
			<string>34.20</string>
			<key>name</key>
			<string>Петрозаводск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.38</string>
			<key>lng</key>
			<string>55.57</string>
			<key>name</key>
			<string>Стерлитамак</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.16</string>
			<key>lng</key>
			<string>43.24</string>
			<key>name</key>
			<string>Дзержинск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.18</string>
			<key>lng</key>
			<string>101.43</string>
			<key>name</key>
			<string>Братск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.38</string>
			<key>lng</key>
			<string>47.52</string>
			<key>name</key>
			<string>Йошкар-Ола</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.13</string>
			<key>lng</key>
			<string>58.38</string>
			<key>name</key>
			<string>Орск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>52.34</string>
			<key>lng</key>
			<string>103.55</string>
			<key>name</key>
			<string>Ангарск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>60.56</string>
			<key>lng</key>
			<string>76.32</string>
			<key>name</key>
			<string>Нижневартовск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>44.43</string>
			<key>lng</key>
			<string>37.46</string>
			<key>name</key>
			<string>Новороссийск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>61.40</string>
			<key>lng</key>
			<string>50.49</string>
			<key>name</key>
			<string>Сыктывкар</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.38</string>
			<key>lng</key>
			<string>51.47</string>
			<key>name</key>
			<string>Нижнекамск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.54</string>
			<key>lng</key>
			<string>86.43</string>
			<key>name</key>
			<string>Прокопьевск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>43.19</string>
			<key>lng</key>
			<string>45.41</string>
			<key>name</key>
			<string>Грозный</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>58.3</string>
			<key>lng</key>
			<string>38.50</string>
			<key>name</key>
			<string>Рыбинск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>47.41</string>
			<key>lng</key>
			<string>40.15</string>
			<key>name</key>
			<string>Шахты</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>50.17</string>
			<key>lng</key>
			<string>127.32</string>
			<key>name</key>
			<string>Благовещенск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>52.32</string>
			<key>lng</key>
			<string>85.10</string>
			<key>name</key>
			<string>Бийск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>58.32</string>
			<key>lng</key>
			<string>31.16</string>
			<key>name</key>
			<string>Великий Новгород</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.18</string>
			<key>lng</key>
			<string>37.50</string>
			<key>name</key>
			<string>Старый Оскол</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.56</string>
			<key>lng</key>
			<string>37.17</string>
			<key>name</key>
			<string>Зеленоград</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>62.10</string>
			<key>lng</key>
			<string>129.50</string>
			<key>name</key>
			<string>Якутск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>57.49</string>
			<key>lng</key>
			<string>28.20</string>
			<key>name</key>
			<string>Псков</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>64.34</string>
			<key>lng</key>
			<string>39.49</string>
			<key>name</key>
			<string>Северодвинск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>52.0</string>
			<key>lng</key>
			<string>47.47</string>
			<key>name</key>
			<string>Балаково</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.2</string>
			<key>lng</key>
			<string>158.38</string>
			<key>name</key>
			<string>Петропавловск-Камчатский</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.11</string>
			<key>lng</key>
			<string>59.38</string>
			<key>name</key>
			<string>Златоуст</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>44.59</string>
			<key>lng</key>
			<string>41.8</string>
			<key>name</key>
			<string>Армавир</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.29</string>
			<key>lng</key>
			<string>46.8</string>
			<key>name</key>
			<string>Энгельс</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.10</string>
			<key>lng</key>
			<string>48.27</string>
			<key>name</key>
			<string>Сызрань</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.25</string>
			<key>lng</key>
			<string>61.56</string>
			<key>name</key>
			<string>Каменск-Уральский</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.26</string>
			<key>lng</key>
			<string>37.34</string>
			<key>name</key>
			<string>Подольск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>46.58</string>
			<key>lng</key>
			<string>142.44</string>
			<key>name</key>
			<string>Южно-Сахалинск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>59.25</string>
			<key>lng</key>
			<string>56.46</string>
			<key>name</key>
			<string>Березники</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>47.25</string>
			<key>lng</key>
			<string>40.5</string>
			<key>name</key>
			<string>Новочеркасск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>47.31</string>
			<key>lng</key>
			<string>42.8</string>
			<key>name</key>
			<string>Волгодонск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.44</string>
			<key>lng</key>
			<string>91.26</string>
			<key>name</key>
			<string>Абакан</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.32</string>
			<key>lng</key>
			<string>81.12</string>
			<key>name</key>
			<string>Рубцовск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>44.37</string>
			<key>lng</key>
			<string>40.5</string>
			<key>name</key>
			<string>Майкоп</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.54</string>
			<key>lng</key>
			<string>37.45</string>
			<key>name</key>
			<string>Мытищи</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.0</string>
			<key>lng</key>
			<string>60.5</string>
			<key>name</key>
			<string>Миасс</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.24</string>
			<key>lng</key>
			<string>55.53</string>
			<key>name</key>
			<string>Салават</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>43.49</string>
			<key>lng</key>
			<string>131.58</string>
			<key>name</key>
			<string>Уссурийск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.40</string>
			<key>lng</key>
			<string>37.57</string>
			<key>name</key>
			<string>Люберцы</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.22</string>
			<key>lng</key>
			<string>41.20</string>
			<key>name</key>
			<string>Ковров</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.5</string>
			<key>lng</key>
			<string>38.47</string>
			<key>name</key>
			<string>Коломна</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>42.49</string>
			<key>lng</key>
			<string>132.53</string>
			<key>name</key>
			<string>Находка</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.50</string>
			<key>lng</key>
			<string>37.57</string>
			<key>name</key>
			<string>Балашиха</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.46</string>
			<key>lng</key>
			<string>38.28</string>
			<key>name</key>
			<string>Электросталь</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.55</string>
			<key>lng</key>
			<string>37.49</string>
			<key>name</key>
			<string>Королёв</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.53</string>
			<key>lng</key>
			<string>37.26</string>
			<key>name</key>
			<string>Химки</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.54</string>
			<key>lng</key>
			<string>52.19</string>
			<key>name</key>
			<string>Альметьевск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>44.2</string>
			<key>lng</key>
			<string>43.4</string>
			<key>name</key>
			<string>Пятигорск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>69.19</string>
			<key>lng</key>
			<string>88.11</string>
			<key>name</key>
			<string>Норильск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.40</string>
			<key>lng</key>
			<string>37.17</string>
			<key>name</key>
			<string>Одинцово</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.5</string>
			<key>lng</key>
			<string>38.11</string>
			<key>name</key>
			<string>Новомосковск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.55</string>
			<key>lng</key>
			<string>59.57</string>
			<key>name</key>
			<string>Первоуральск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>44.38</string>
			<key>lng</key>
			<string>41.56</string>
			<key>name</key>
			<string>Невиномысск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.55</string>
			<key>lng</key>
			<string>37.26</string>
			<key>name</key>
			<string>Серпухов</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.14</string>
			<key>lng</key>
			<string>49.35</string>
			<key>name</key>
			<string>Димитровград</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>43.54</string>
			<key>lng</key>
			<string>42.43</string>
			<key>name</key>
			<string>Кисловодск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>50.6</string>
			<key>lng</key>
			<string>45.24</string>
			<key>name</key>
			<string>Камышин</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.34</string>
			<key>lng</key>
			<string>42.2</string>
			<key>name</key>
			<string>Муром</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>43.13</string>
			<key>lng</key>
			<string>44.48</string>
			<key>name</key>
			<string>Магас</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.7</string>
			<key>lng</key>
			<string>47.29</string>
			<key>name</key>
			<string>Новочебоксарск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.48</string>
			<key>lng</key>
			<string>38.58</string>
			<key>name</key>
			<string>Орехово-Зуево</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.7</string>
			<key>lng</key>
			<string>54.16</string>
			<key>name</key>
			<string>Нефтекамск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>43.15</string>
			<key>lng</key>
			<string>46.35</string>
			<key>name</key>
			<string>Хасавюрт</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.16</string>
			<key>lng</key>
			<string>90.29</string>
			<key>name</key>
			<string>Ачинск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.52</string>
			<key>lng</key>
			<string>38.29</string>
			<key>name</key>
			<string>Ногинск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>52.36</string>
			<key>lng</key>
			<string>38.31</string>
			<key>name</key>
			<string>Елец</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>44.17</string>
			<key>lng</key>
			<string>42.4</string>
			<key>name</key>
			<string>Черкесск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.37</string>
			<key>lng</key>
			<string>84.52</string>
			<key>name</key>
			<string>Северск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.19</string>
			<key>lng</key>
			<string>38.8</string>
			<key>name</key>
			<string>Сергиев Посад</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.54</string>
			<key>lng</key>
			<string>38.1</string>
			<key>name</key>
			<string>Щёлково</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.6</string>
			<key>lng</key>
			<string>49.53</string>
			<key>name</key>
			<string>Новокуйбышевск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.40</string>
			<key>lng</key>
			<string>86.10</string>
			<key>name</key>
			<string>Ленинск-Кузнецкий</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.23</string>
			<key>lng</key>
			<string>43.50</string>
			<key>name</key>
			<string>Арзамас</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>54.28</string>
			<key>lng</key>
			<string>53.28</string>
			<key>name</key>
			<string>Октябрьский</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.6</string>
			<key>lng</key>
			<string>54.17</string>
			<key>name</key>
			<string>Нефтеюганск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>47.8</string>
			<key>lng</key>
			<string>39.45</string>
			<key>name</key>
			<string>Батайск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.59</string>
			<key>lng</key>
			<string>86.39</string>
			<key>name</key>
			<string>Киселёвск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.13</string>
			<key>lng</key>
			<string>58.21</string>
			<key>name</key>
			<string>Новотроицк</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.6</string>
			<key>lng</key>
			<string>36.37</string>
			<key>name</key>
			<string>Обнинск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.20</string>
			<key>lng</key>
			<string>30.31</string>
			<key>name</key>
			<string>Великие Луки</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>46.19</string>
			<key>lng</key>
			<string>44.13</string>
			<key>name</key>
			<string>Элиста</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>51.43</string>
			<key>lng</key>
			<string>94.23</string>
			<key>name</key>
			<string>Кызыл</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.45</string>
			<key>lng</key>
			<string>38.8</string>
			<key>name</key>
			<string>Железнодорожный</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>63.34</string>
			<key>lng</key>
			<string>53.43</string>
			<key>name</key>
			<string>Ухта</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.28</string>
			<key>lng</key>
			<string>53.48</string>
			<key>name</key>
			<string>Сарапул</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>56.13</string>
			<key>lng</key>
			<string>95.43</string>
			<key>name</key>
			<string>Канск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>59.38</string>
			<key>lng</key>
			<string>56.46</string>
			<key>name</key>
			<string>Соликамск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>53.41</string>
			<key>lng</key>
			<string>88.5</string>
			<key>name</key>
			<string>Междуреченск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.33</string>
			<key>lng</key>
			<string>38.15</string>
			<key>name</key>
			<string>Жуковский</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>47.46</string>
			<key>lng</key>
			<string>39.56</string>
			<key>name</key>
			<string>Новошахтинск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>58.8</string>
			<key>lng</key>
			<string>52.38</string>
			<key>name</key>
			<string>Глазов</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>42.4</string>
			<key>lng</key>
			<string>48.17</string>
			<key>name</key>
			<string>Дербент</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>58.0</string>
			<key>lng</key>
			<string>102.40</string>
			<key>name</key>
			<string>Усть-Илимск</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>59.37</string>
			<key>lng</key>
			<string>60.35</string>
			<key>name</key>
			<string>Серов</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>55.50</string>
			<key>lng</key>
			<string>48.40</string>
			<key>name</key>
			<string>Зеленодольск</string>
		</dict>
	</array>
</dict>
</plist>
